// Structure of index page
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.index.row {
  height: 100%;

  h5 {
    padding-top: 1rem;
    font-weight: 600;
  }
}

.row > .col-sm-6 {
  border-left: solid $light-gray;
  border-right: solid $light-gray;
  padding: 0;

  h5 {
    padding-left: 12px;
  }
}
