// Structure of index page
.index.row {
  h5 {
    padding-top: 1rem;
    font-weight: 600;
  }
}

.row > .col-sm-6 {
  border-left: solid $light-gray;
  border-right: solid $light-gray;
  padding: 0;

  h5 {
    padding-left: 12px;
  }
}
