.container-tweet {
  .show-top-link {
    padding: 0px 16px;

    > span {
      font-weight: 700;
    }

    > p {
      font-size: 12px;
      color: $gray;
    }
  }

  .show-tweet {
    margin: 16px 15px;
    border-bottom: solid $light-gray;

    .show-user {
      .tweet-bold {
        font-weight: 600;
        font-size: 15px;
      }

      .tweet-grey {
        color: $gray;
        font-size: 14px;
      }
    }

    .show-tweet-time {
      font-size: 14px;
      color: $gray;
    }
  }

  .show-likes {
    margin: 16px 15px;
    border-bottom: solid $light-gray;
    font-size: 14px;
    color: $gray;
  }

}
