<div>
  <%= simple_form_for @tweet,
      html: { data: { action: "turbo:submit-end->reset-form#resetForm",
                      controller: "reset-form" } } do |f| %>
    <%= render "shared/flashes", class: "tweet-errors" %>
    <%= f.input :body, placeholder: "What's happening?", label: false %>
    <div class="d-flex justify-content-end">
      <%= f.submit "Tweet", class: "btn-tweet-sm" %>
    </div>
  <% end %>
</div>
