<div>
  <%= simple_form_for [tweet, comment],
      html: { data: { action: "turbo:submit-end->reset-form#resetForm",
                      controller: "reset-form" } } do |f| %>
    <%= f.input :body, placeholder: "Tweet your reply", label: false %>
    <div class="d-flex justify-content-end">
      <%= f.submit "Reply", class: "btn-tweet-sm" %>
    </div>
  <% end %>
</div>
