<div class="container px-4 mx-auto">
  <div class="index row">
  <div class="col-sm">
    <h5 class="mb-3">Tweeter</h5>
    <%= render "shared/navbar" %>
  </div>
  <div class="col-sm-6">
    <h5>Home</h5>
  </div>
  <div class="col-sm">
    <h5>Search</h5>
  </div>
  </div>
</div>
