.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  object-fit: cover;
  outline: white 3px solid;
  position: absolute;
  top: -64px;
}

.avatar-white {
  background-color: white;
}
