.btn-tweet {
  text-decoration: none;
  text-align: center;
  border-radius: 22px;
  background-color: #1C9BEF;
  padding: 10px 13px;
  width: 90%;
  display: block;
  color: white;
  font-weight: 600;
  font-size: 14px;
}
