.btn-tweet {
  text-decoration: none;
  text-align: center;
  border-radius: 22px;
  background-color: $primary;
  padding: 11px 32px;
  width: 222px;
  display: block;
  color: white;
  font-weight: 600;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;;
}

.btn-tweet-sm {
  text-decoration: none;
  text-align: center;
  border-radius: 22px;
  border: none;
  background-color: #1C9BEF;
  padding: 8px 14px;
  display: block;
  color: white;
  font-weight: 700;
  font-size: 12px;
}



.btn-log {
  text-decoration: none;
  text-align: center;
  border-radius: 22px;
  padding: 4px 8px;
  color: $primary;
  border: solid $primary;
  font-size: 14px;
}

.btn-back {
  width: 20px;
}
