.form-tweet {
  border-bottom: solid $light-gray;
  padding-bottom: 13px;
}

.new_tweet {
  .form-control {
    border: 0;
    resize: none;
    // display: block;
    // width: 100%;

    &:focus {
      box-shadow: none;
    }
  }

  div.d-flex {
    padding-right: 12px;
  }
}
