// Navigation bar
.nav-button {
  margin: 6px 0px;

  span {
    margin-left: 1rem;
  }
}

.nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}
.nav-logo {
  width: 25px;
}
