.link-action {
  text-decoration: none;
  color: $gray;
  display: flex;
  align-items: center;
}

svg {
  fill: currentColor;
  margin-right: 0.3em;
}


#tweets {
  .btn-action {
    padding: 0px 47px;
  }

  svg {
    width: 14px;
  }
}

.container-tweet {
  font-size: 18px;

  svg {
    width: 18px;
  }
}
