#tweets {
  font-size: 15px;

  > div {
    border-bottom: solid $light-gray;
    padding: 5px 9px;
  }

  .tweet-bold {
    font-weight: 600;
  }

  .tweet-grey {
    color: $gray;
    font-size: 14px;
  }
}

.retweet {
  color: $gray;
  font-size: 13px;
  font-weight: 600;

  svg {
    width: 13px;
    fill: currentColor;
  }
}
